html{
    font-size: 10px;
    background: url(https://images.unsplash.com/photo-1575578959733-2bcfc732830a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2089&q=80) bottom center;
    background-size: cover;

}


body,html{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}




.keys{
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}



.key{
    border: .4rem solid whitesmoke;
    border-radius: 5px;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all 0.09s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0,4);
    text-shadow: 0 0 5px black;
}

.playing{
    transform:scale(1.1);
    border-color:rgb(48, 155, 18);
    box-shadow: 0 0 1rem rgb(48, 155, 18);
}

.kbd{
    display: block;
    font-size: 40px;
}

.sound{
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color:whitesmoke;
}